<%- include("header") -%>

<h2>This is About page</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error eaque nam totam quisquam ex dolore vel odit, porro, ipsa explicabo ea consectetur amet repellendus quaerat eos dignissimos animi recusandae excepturi!</p>

<%- include("footer") -%>